@{
  Layout = "_Layout";
}

@using Treats.Models;
@model Treats.Models.Treat

<h4>Edit this Treat: @Html.DisplayFor(model => model.Name)</h4>
<hr/>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
<h3>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)</h3>
<h3>Id: @Html.DisplayFor(model => model.TreatId)</h3>
<hr/>

@using (Html.BeginForm())
{
  @Html.Label("Name", "Name")<br>
  @Html.EditorFor(model => model.Name, new { @class="form-control"})<br>

  @Html.Label("Price", "Price")<br>
  @Html.EditorFor(model => model.Price, new { @type ="number", @class="form-control"})

  @Html.Label("Description", "Description")<br>
  @Html.EditorFor(model => model.Description, new { @class="form-control"})<br>
  
  <button type="submit" class="btn btn-default">Save Changes</button>
}